@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(194, 161, 194), rgb(223, 192, 127), rgb(136, 187, 172));
  background-size: contain;
  background-repeat: no-repeat;
}
.App h1{
  text-align: center;
  font-family: 'Alkatra', cursive;
  font-size: 45px;
  text-shadow: 3px 3px 3px aqua;
}
.btnCntnr {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 300px;
  padding-right: 300px;
}
.btnCntnr button{
  width: 350px;
  height: 70px;
  border: 3px solid black;
  border-radius: 35px;
  background-color: aquamarine;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}
button:hover{
  background-color: aqua;
}
.cmpCntnr {
  margin: 4vw;
  width: 92vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
